@model EDIS.Models.RepairModels.EngsInDeptsModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>EngsInDeptsModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EngId" class="control-label"></label>
                <select asp-for="EngId" class ="form-control" asp-items="ViewBag.Id"></select>
            </div>
            <div class="form-group">
                <label asp-for="DptId" class="control-label"></label>
                <select asp-for="DptId" class ="form-control" asp-items="ViewBag.DptId"></select>
            </div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

