@model IEnumerable<EDIS.Models.RepairModels.EngsInDeptsViewModel>

@{
    Layout = "~/Views/Shared/_PassedLayout.cshtml";
    ViewData["Title"] = "Index";
}
<link href="~/css/bootstrap-combobox.css" rel="stylesheet" />
<script src="~/js/bootstrap-combobox.js"></script>

<script>
    var onFailed = function (data) {
        alert(data.responseText);
        $.Toast.hideToast();
    };

    $.fn.addItems = function (data) {
        return this.each(function () {
            var list = this;
            $.each(data, function (val, text) {

                var option = new Option(text.text, text.value);
                list.add(option);
            });
        });
    };

    $(function () {
        $(".combobox").combobox();

        $("#BuildingId").change(function () {
            /* Get floors. */
            $.ajax({
                url: '../Floor/GetFloors',
                type: "POST",
                dataType: "json",
                data: "bname=" + $(this).val(),
                async: false,
                success: function (data) {
                    var select = $('#FloorId');
                    $('option', select).remove();          
                    select.addItems(data);
                    select.append($('<option></option>').text('所有').val(""));
                }
            });
        });

        $("#getEngForm").submit(function () {
            if ($("#EngineerId").val() == "" && $("#BuildingId").val() == "") {
                alert("【期別】或【負責人員】請至少選取一項後搜尋。");
                return false;
            }
        });
    });
</script>

<style>
    .panel {
        background-color: inherit;
        border-color: white;
    }

    form label {
        padding-top: 7px;
        font-size: 120%;
    }
</style>

<h2>查詢與編輯</h2>

<div>
    <input id="btnDes" type="button" value="操作說明" class="btn btn-primary" data-toggle="modal" data-target="#modalDes">
</div>
<br />

<div class="panel panel-primary">
    <div class="panel-body">
        <form asp-action="GetEngList" asp-controller="EngsInDepts" asp-area="Admin" id="getEngForm"
              data-ajax="true" data-ajax-update="#engListDiv" data-ajax-method="GET"
              data-ajax-begin="$.Toast.showToast({
              'title':'查詢中，請稍待...',
              'icon':'loading',
              'duration':0
              })"
              data-ajax-complete="$.Toast.hideToast()"
              data-ajax-failure="onFailed">

            <div class="form-inline">
                <div class="form-group col-md-4">
                    <label class="control-label col-md-4">負責人員:</label>
                    <div class="col-md-8">
                        @Html.DropDownList("EngineerId", null, "所有", htmlAttributes: new { @class = "form-control combobox" })
                    </div>
                </div>

                <div class="form-group col-md-3">
                    <label class="control-label col-md-3" style="padding-right:0px">期別:</label>
                    <div class="col-md-9">
                        @Html.DropDownList("BuildingId", null, "所有", htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group col-md-3">
                    <label class="control-label col-md-3" style="padding-right:0px">樓層:</label>
                    <div class="col-md-9">
                        <select class="form-control" id="FloorId" name="FloorId">
                            <option value="">所有</option>

                        </select>
                    </div>
                </div>

                <div class="form-group col-md-2">
                    <div class="col-md-8">
                        <input type="submit" class="btn btn-primary" id="btnQuery" value="查詢" style="width: 100%" />
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>

<div id="engListDiv"></div>


<!-- 夾帶檔案 Modal -->
<div id="modalDes" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" style="background-color: #1D3C4C">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" style="color:#fff">&times;</button>
                <h4 class="modal-title">操作說明</h4>
            </div>
            <div class="modal-body">
                <div>
                    <h4>【如何設定】</h4>
                    <p>1.需先依序新增【期別】→【樓層】→【地點】。</p>
                    <p>2.依照【期別】、【樓層】或依照【負責人員】搜尋。</p>
                    <p>3.勾選欲設定的地點，於【轉移負責人員至】選擇負責人員。</p>
                    <p>4.點選【確定送出】。</p>
                </div>
                <br />
                <div>
                    <h4>【注意事項】</h4>
                    <p>1.一個地點只可設定一位負責人員。</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">離開</button>
            </div>
        </div>
    </div>
</div>