@model EDIS.Models.KeepModels.KeepModel

@using EDIS.Models.Identity
@inject CustomUserManager UserManager
@inject CustomRoleManager RoleManager

@{
    Layout = "~/Views/Shared/_PassedLayout.cshtml";
    ViewBag.Title = "簽核/保養";

    if (TempData["SendMsg"] != null)
    {
        <script>
            var message = @Json.Serialize(TempData["SendMsg"]);
            alert(message);
        </script>
    }
}

<script>
    $(function () {
        var activePage = @ViewData["Page"];
        if (activePage != 0) {
            $("#page" + activePage).children("a").click();
        }
    });
</script>

<h2>簽核</h2>
<h4>保養</h4>
<hr />
<div id="pnlFILES" style="margin: 10pt">
    @await Component.InvokeAsync("AttainFileList2", new { id = Model.DocId, typ = "2" })
</div>
<div class="form-group">
    <div>
        <input id="btnFILES" type="button" value="夾帶附件檔案" class="btn btn-default" data-toggle="modal" data-target="#modalFILES">
    </div>
</div>
<!-- 夾帶檔案 Modal -->
<div id="modalFILES" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" style="background-color: #1D3C4C">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" style="color:#fff">&times;</button>
                <h4 class="modal-title">選擇上傳檔案</h4>
            </div>
            <div class="modal-body">
                @await Component.InvokeAsync("AttainFileUpload2", new { doctype = "2", docid = Model.DocId })
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">離開</button>
            </div>
        </div>
    </div>
</div>

<ul class="nav nav-pills" style="font-size:120%">
    <li role="presentation" id="page1" class="active"><a href="#keepdtl2" data-toggle="tab" style="padding-left:20px">申請資料</a></li>
    <li role="presentation" id="page2"><a href="#keepdtl" data-toggle="tab" style="padding-left:20px">保養紀錄</a></li>
    <li role="presentation" id="page3"><a href="#keepemp" data-toggle="tab" style="padding-left:20px">工程師工時</a></li>
    <li role="presentation" id="page4"><a href="#keeprecord" data-toggle="tab" style="padding-left:20px">保養項目登錄</a></li>
    <li role="presentation" id="page5"><a href="#keepcost" data-toggle="tab" style="padding-left:20px">費用明細</a></li>
    <li role="presentation" id="page6"><a href="#keepflow" data-toggle="tab" style="padding-left:20px">流程資訊</a></li>
    <li role="presentation" id="page7"><a href="#keepnextflow" data-toggle="tab" style="padding-left:20px">簽核作業</a></li>
</ul>
<hr />
<div class="tab-content">
    <div id="keepdtl2" class="tab-pane fade in active">
        <div>
            @await Component.InvokeAsync("KeepDetail", new { id = Model.DocId })
        </div>
    </div>
    <div id="keepdtl" class="tab-pane fade">
        <div>
            @await Component.InvokeAsync("KeepDtlEdit", new { id = Model.DocId })
        </div>
    </div>
    <div id="keepemp" class="tab-pane fade">
        <div>
            @await Component.InvokeAsync("KeepEmpEdit", new { DocId = Model.DocId })
        </div>
    </div>
    <div id="keeprecord" class="tab-pane fade">
        <div>
            @await Component.InvokeAsync("KeepRecordEdit", new { id = Model.DocId })
        </div>
    </div>
    <div id="keepcost" class="tab-pane fade">
        <div>
            @await Component.InvokeAsync("KeepCostEdit", new { id = Model.DocId })
        </div>
    </div>
    <div id="keepflow" class="tab-pane fade">
        <div>
            @await Component.InvokeAsync("KeepFlowList", new { id = Model.DocId })
        </div>
    </div>
    <div id="keepnextflow" class="tab-pane fade">
        <div>
            @await Component.InvokeAsync("KeepNextFlow", new { id = Model.DocId })
        </div>
    </div>
</div>

<div>
    <a class="btn btn-default" href="@Url.Action("Index", "Home", new { Area = "" } )" id="homeBtn">回到簽核列表</a>
    <a class="btn btn-primary" href="@Url.Action("PrintKeepDoc", "Keep", new { Area = "", DocId = Model.DocId } )" target="_blank">列印</a>
</div>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}
