@model EDIS.Models.KeepModels.KeepFormatDtlModel

@{
    Layout = "~/Views/Shared/_PassedLayout.cshtml";
    ViewBag.Title = "修改/保養格式明細";
}

<style>
    /* Style the scale of radio. */
    input[type=radio] {
        -ms-transform: scale(1.5); /* IE */
        -moz-transform: scale(1.5); /* FireFox */
        -webkit-transform: scale(1.5); /* Safari and Chrome */
        -o-transform: scale(1.5); /* Opera */
    }
</style>

<h2>修改</h2>

<form asp-action="Edit" asp-controller="KeepFormatDtl" asp-area="" method="post">
    <div class="form-horizontal">
        <h4>保養格式明細</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="FormatId" />
        <input type="hidden" asp-for="Sno" />
        <div class="form-group">
            <label asp-for="FormatId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <p class="form-control-static">@Html.DisplayFor(model => model.FormatId)</p>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Sno" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <p class="form-control-static">@Html.DisplayFor(model => model.Sno)</p>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Descript" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <input asp-for="Descript" class="form-control" />
                <span asp-validation-for="Descript" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="IsRequired" class="control-label col-md-2"></label>
            <div class="col-md-10" style="padding-top: 4px;">
                <span>是</span><input type="radio" value="Y" asp-for="IsRequired" style="margin-left:7px; margin-top:2px;"/>
                <span>否</span><input type="radio" value="N" asp-for="IsRequired" style="margin-left:7px; margin-top:2px;"/>
                <span asp-validation-for="IsRequired" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="確定送出" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a class="btn btn-primary" href="@Url.Action("Edit", "KeepFormat", new { Area = "", id = Model.FormatId })">回到列表</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
