@model EDIS.Models.RepairModels.DeptStockModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>DeptStockModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="StockCls" class="control-label"></label>
                <input asp-for="StockCls" class="form-control" />
                <span asp-validation-for="StockCls" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="StockNo" class="control-label"></label>
                <input asp-for="StockNo" class="form-control" />
                <span asp-validation-for="StockNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StockName" class="control-label"></label>
                <input asp-for="StockName" class="form-control" />
                <span asp-validation-for="StockName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Unite" class="control-label"></label>
                <input asp-for="Unite" class="form-control" />
                <span asp-validation-for="Unite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Qty" class="control-label"></label>
                <input asp-for="Qty" class="form-control" />
                <span asp-validation-for="Qty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SafeQty" class="control-label"></label>
                <input asp-for="SafeQty" class="form-control" />
                <span asp-validation-for="SafeQty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Loc" class="control-label"></label>
                <input asp-for="Loc" class="form-control" />
                <span asp-validation-for="Loc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Standard" class="control-label"></label>
                <input asp-for="Standard" class="form-control" />
                <span asp-validation-for="Standard" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Brand" class="control-label"></label>
                <input asp-for="Brand" class="form-control" />
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rtp" class="control-label"></label>
                <input asp-for="Rtp" class="form-control" />
                <span asp-validation-for="Rtp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rtt" class="control-label"></label>
                <input asp-for="Rtt" class="form-control" />
                <span asp-validation-for="Rtt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustOrgan_CustId" class="control-label"></label>
                <input asp-for="CustOrgan_CustId" class="form-control" />
                <span asp-validation-for="CustOrgan_CustId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

